*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --background-color-main:hsl(0, 100%, 74%);
}

body{
    background-color: var(--background-color-main) ;
}